Repository CowDogMoo/ansible-vnc-zsh, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/ansible, area/go

chore(deps): update pre-commit hook ansible/ansible-lint to v6.17.2
  .pre-commit-config.yaml
Labels: area/pre-commit

fix(deps): update module github.com/l50/goutils to v1.3.0
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

chore(deps): update actions/setup-go digest to 93397be
  .github/workflows/pre-commit.yaml
Labels: area/github

chore(deps): update actions/setup-go digest to 93397be
  .github/workflows/pre-commit.yaml
Labels: area/github

chore(deps): update actions/checkout digest to f43a0e5
  .github/workflows/release.yaml
Labels: area/github

chore(deps): update actions/checkout digest to f43a0e5
  .github/workflows/release.yaml
Labels: area/github

chore(deps): update renovatebot/github-action action to v39.0.2
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update renovatebot/github-action action to v39.0.2
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update pre-commit hook pre-commit/mirrors-prettier to v3.0.3
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): update renovatebot/github-action action to v39.0.5
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update renovatebot/github-action action to v39.0.5
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update actions/checkout action to v3.6.0
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/molecule.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update actions/checkout action to v3.6.0
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/molecule.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update actions/checkout action to v4
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/molecule.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/release.yaml
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update actions/setup-python digest to 65d7f2d
  .github/workflows/molecule.yaml
  .github/workflows/pre-commit.yaml
Labels: area/github

chore(deps): update actions/setup-python digest to 65d7f2d
  .github/workflows/molecule.yaml
  .github/workflows/pre-commit.yaml
Labels: area/github

chore(deps): update pre-commit hook codespell-project/codespell to v2.2.6
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): update pre-commit hook ansible/ansible-lint to v6.20.3
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): update pre-commit hook pre-commit/pre-commit-hooks to v4.5.0
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): update pre-commit hook codespell-project/codespell to v2.2.6
  .pre-commit-config.yaml
Labels: area/pre-commit

fix(deps): update module github.com/l50/goutils to v2
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

Updated renovate action to clean up after itself
  .github/workflows/renovate.yaml
  magefiles/go.mod
  magefiles/go.sum
Labels: area/github, area/go

Update magefile to latest standard
  magefiles/go.mod
  magefiles/go.sum
  magefiles/magefile.go
Labels: area/go

Update magefile to latest standard
  magefiles/go.mod
  magefiles/go.sum
  magefiles/magefile.go
Labels: area/go

chore(deps): update renovatebot/github-action action to v39.1.0
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update renovatebot/github-action action to v39.1.0
  .github/workflows/renovate.yaml
Labels: area/github

Fix magefile
  magefiles/magefile.go
Labels: area/go

Fixed pre-commit action
  .github/workflows/pre-commit.yaml
Labels: area/github

Fixed galaxy badge URL
  README.md
Labels: none

Updated README.md and respective ansible playbook and molecule configuration files.
  README.md
  examples/playbook.yaml
  molecule/default/molecule.yml
Labels: none

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"

area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

area/ansible:
  - "tasks/**/*.yaml"
  - "handlers/**/*.yaml"
  - "vars/**/*.yaml"
  - "defaults/**/*.yaml"
  - "meta/**/*.yaml"
  - "templates/**/*.j2"
  - "files/**/*"
  - "requirements.yaml"

area/go:
  - "magefiles/*"
