Repository CowDogMoo/ansible-vnc-zsh, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/ansible, area/go

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"

area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

area/ansible:
  - "tasks/**/*.yaml"
  - "handlers/**/*.yaml"
  - "vars/**/*.yaml"
  - "defaults/**/*.yaml"
  - "meta/**/*.yaml"
  - "templates/**/*.j2"
  - "files/**/*"
  - "requirements.yaml"

area/go:
  - "magefiles/*"

chore(deps): update actions/checkout action to v3
  .github/workflows/release.yaml
Labels: area/github

fix(deps): update module github.com/bitfield/script to v0.22.0
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

Remove golang
  vars/Debian.yaml
Labels: area/ansible

Update mage go.sum and go.mod
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

chore(deps): update renovatebot/github-action action to v36.1.1
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update renovatebot/github-action action to v36.1.1
  .github/workflows/renovate.yaml
Labels: area/github

fix(deps): update module github.com/magefile/mage to v1.15.0
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

chore(deps): update renovatebot/github-action action to v37
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update actions/setup-go digest to fac708d
  .github/workflows/pre-commit.yaml
Labels: area/github

chore(deps): update actions/setup-go digest to fac708d
  .github/workflows/pre-commit.yaml
Labels: area/github

chore(deps): update pre-commit hook ansible/ansible-lint to v6.16.1
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): update actions/setup-python digest to bd6b4b6
  .github/workflows/molecule.yaml
  .github/workflows/pre-commit.yaml
Labels: area/github

chore(deps): update actions/setup-python digest to bd6b4b6
  .github/workflows/molecule.yaml
  .github/workflows/pre-commit.yaml
Labels: area/github

chore(deps): update actions/labeler action to v4.0.4
  .github/workflows/meta-labeler.yaml
Labels: area/github

chore(deps): update actions/labeler action to v4.0.4
  .github/workflows/meta-labeler.yaml
Labels: area/github

fix(deps): update module github.com/magefile/mage to v1.15.0
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

chore(deps): update pre-commit hook ansible/ansible-lint to v6.16.1
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): update pre-commit hook adrienverge/yamllint to v1.32.0
  .pre-commit-config.yaml
Labels: area/pre-commit

fix(deps): update module github.com/l50/goutils to v1.3.0
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

chore(deps): update actions/checkout digest to c85c95e
  .github/workflows/release.yaml
Labels: area/github

chore(deps): update actions/checkout digest to c85c95e
  .github/workflows/release.yaml
Labels: area/github

chore(deps): update actions/checkout action to v3.5.3
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/molecule.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update actions/checkout action to v3.5.3
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/molecule.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update pre-commit hook codespell-project/codespell to v2.2.5
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): update actions/labeler action to v4.1.0
  .github/workflows/meta-labeler.yaml
Labels: area/github

chore(deps): update actions/labeler action to v4.1.0
  .github/workflows/meta-labeler.yaml
Labels: area/github

chore(deps): update pre-commit hook ansible/ansible-lint to v6.17.2
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): update actions/labeler action to v4.2.0
  .github/workflows/meta-labeler.yaml
Labels: area/github

chore(deps): update actions/labeler action to v4.2.0
  .github/workflows/meta-labeler.yaml
Labels: area/github

chore(deps): update renovatebot/github-action action to v38
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update actions/setup-python digest to 61a6322
  .github/workflows/molecule.yaml
  .github/workflows/pre-commit.yaml
Labels: area/github

chore(deps): update actions/setup-python digest to 61a6322
  .github/workflows/molecule.yaml
  .github/workflows/pre-commit.yaml
Labels: area/github

chore(deps): update actions/labeler action to v4.3.0
  .github/workflows/meta-labeler.yaml
Labels: area/github

chore(deps): update actions/labeler action to v4.3.0
  .github/workflows/meta-labeler.yaml
Labels: area/github

chore(deps): update renovatebot/github-action action to v39
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update pre-commit hook pre-commit/mirrors-prettier to v3.0.1
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): update pre-commit hook pre-commit/mirrors-prettier to v3.0.1
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): update renovatebot/github-action action to v39
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update pre-commit hook codespell-project/codespell to v2.2.5
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): update pre-commit hook adrienverge/yamllint to v1.32.0
  .pre-commit-config.yaml
Labels: area/pre-commit
